.snakemake/
map/
docs/
logs/
resources/AG*
results/
workflow/scripts/randomisations/
workflow/scripts/*ipynb
resources/vcfs/
resources/plink/
resources/metadata/
.R*
config/metadata.tsv
.Rproj.user
resources/site_filters/
resources/snp_genotypes/
images/
crosses.fam
workflow/notebooks/
workflow/scripts/selscan*
resources/manifest.tsv