.Rproj.user
.Rhistory
.RData*
.Ruserdata
.snakemake
logs
results
AKIMA*
docs
map
resources/site_filters
resources/snp_genotypes
resources/vcfs
workflow/notebooks
workflow/scripts/selscan*
resources/plink
*pyc
*pyx
*plink*